/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

a:link, a:visited, a:active {color: black;}

a:hover {color: whitesmoke}; 

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
	border: solid 3px;
	border-color: white;
	border-radius: 1000px;
	margin: 10px;
	transition: border-color 0.2s;
}

.icons-social a {
	color: #fff;
	transition: color 0.2s;
}

.icons-social a:hover i {
    border-color: #473751;
}

.icons-social a:hover {
	border-color: #473751;
	color: #473751;
	transition: border-color 0.2s;
	transition: color 0.2s;
}

.icons-social a svg path{
	fill: #fff;
}

/* Custom Styles */

body {
    background-color: #360e01; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    color: #fff; 
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db51c59d-9107-4bba-838a-a1d9dfe52e76/dgv57bf-5de468f9-a118-418a-8d46-01eff96357d3.png/v1/fill/w_1229,h_650,q_70,strp/enchanted_forest_background___free_download_by_jellydreamsworld_dgv57bf-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAxNiIsInBhdGgiOiJcL2ZcL2RiNTFjNTlkLTkxMDctNGJiYS04MzhhLWExZDlkZmU1MmU3NlwvZGd2NTdiZi01ZGU0NjhmOS1hMTE4LTQxOGEtOGQ0Ni0wMWVmZjk2MzU3ZDMucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.VYREMuSSalsBXKDDRURMlCPs6Z9TjeuwYYJYxu1NN6s);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main > .presentation {
	font-size: 2rem;
	font-weight: 200;
	border: medium solid darkslategrey;
	border-radius: 400px;
	background-color: hsla(276, 32%, 31%, 0.9);
	width: 500px;
	height: auto;
	margin: 30px auto;
	padding: 10px;
	text-align: center;
	color: whitesmoke;
}

.presentation:hover, .presentation:hover a {
	background-color: hsla(276, 32%, 40%, 0.9);
	color: whitesmoke;
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
  text-decoration: none;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}