/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

body {
    background-color: #360e01; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    color: #fff; 
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d058cea6-7f58-4269-a120-8316a4939c31/dfadpjc-7aa33224-4e1d-4573-a4a4-89718a0f99ff.jpg/v1/fill/w_1192,h_670,q_70,strp/nft_landing_page_background_illustration_1__by_jv207_dfadpjc-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2QwNThjZWE2LTdmNTgtNDI2OS1hMTIwLTgzMTZhNDkzOWMzMVwvZGZhZHBqYy03YWEzMzIyNC00ZTFkLTQ1NzMtYTRhNC04OTcxOGEwZjk5ZmYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.gubL9b5YK7dBEmxvTRjRnTd-f5N_Bm7P5pA1dRRhECg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main > .presentation {
	font-size: 2rem;
	margin: 1.5rem 0;
	font-weight: 200;
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
  text-decoration: none;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}